.header-content
	justify-content-sm(flex-start)
	align-items-sm(stretch)
	flex-wrap-sm(wrap)
	sm(padding, .5em)

.header-title,
.apply-form
	col-sm-12()

.header
	sm(height, auto)

.header-title
	sm(max-width, none)
	sm(margin-left, 0)

.top-menu
	xs(flex-direction, column)
	sm(padding-left, 0)
	sm(line-height, 1.5)
	sm(font-size, 1.25em)

.top-bar
	flex-wrap-sm(wrap)
	justify-content-sm(center)

.logo-container
	sm(text-align, center)

.top-menu-item,
.logo-container
	col-sm-12()

.abroad-explanation,
.summer-camp
	sm(padding, 0 .5em)