.sprite
	background url('../img/sprite.png') no-repeat top left
	width 256px
	height 256px
	margin 0 auto
	transform scale(.8)
	&.malta
		background-position 0px 0px
	&.united-kingdom
		background-position -256px 0px
	&.notes
		background-position -512px 0px
	&.test
		background-position -768px 0px
	&.library
		background-position -1024px 0px
	&.homework
		background-position -1280px 0px
	&.ireland
		background-position -1536px 0px
	&.exam
		background-position -1792px 0px
	&.abc
		background-position -2048px 0px
	&.united-states
		background-position -2304px 0px
	&.agreement
		background-position -2560px 0px
	&.geography
		background-position -2816px 0px
	&.crayons
		background-position -3072px 0px
	&.earth-globe
		background-position -3328px 0px
	&.artist
		background-position -3584px 0px
	&.learning
		background-position -3840px 0px
	