@import '_vars'
@import '_smart-grid'
@import '_media'
@import '_input-styles'
@import '../fonts/comfortaa/comfortaa.css'

html, body
	height 100%
	width 100%

body
	overflow-x hidden

body
	margin 0
	font-family Comfortaa

input
	display block
	outline 0
	border none

img
	max-width 100%
	height auto
	min-height 200px

section
	padding 2em 0
	h2, h3
		text-align center

.header
	//background url(../img/image-2.jpg) no-repeat
	background-size cover
	height 100%
	color maincolor

.logo-text
	font-family Monoton
	font-size 1.5em
	color maincolor

.top-menu,
.top-bar,
.header-content
	display flex

.courses-offers,
.preschool-content,
.abroad-content,
.footer
	row-flex()

.top-menu
	list-style none
	&-item
		color maincolor
		margin 0 10px
		text-decoration none
		&:hover
			color secondcolor

.top-bar
	justify-content space-between
	//margin-top -5px
	padding 8px
	background rgba(0, 0, 0, .7)

.header-content
	justify-content space-between
	align-items center
	height 80%

.header-title
	max-width 20%
	margin-left 5em

.apply-form
	h3
		color secondcolor
	margin-right 5em
	input
		color maincolor
		margin 5px 0
		padding-left 0
		background transparent
		&::placeholder
			color maincolor
	&-submit
		font-size 1.1em
		padding 10px
		background transparent
		color secondcolor
		border 3px solid secondcolor
		cursor pointer
		transition color,border,background .2s linear
	&-submit:hover
		color maincolor
		border 3px solid maincolor
		background secondcolor

.text
	fill none
	stroke-width 1
	stroke-linejoin round
	stroke-dasharray 70 330
	stroke-dashoffset 0
	animation stroke 6s infinite linear

.text
	&:nth-child(5n
		& + 1)
			stroke maincolor
			animation-delay -1.2s
		& + 2)
			stroke #F5A503
			animation-delay -2.4s
		& + 3)
			stroke secondcolor
			animation-delay -3.6s
		& + 4)
			stroke #56D9CD
			animation-delay -4.8s
		& + 5)
			stroke #D5E1DD
			animation-delay -6s

@keyframes stroke
	100% 
		stroke-dashoffset -400

.logo-container
	text-transform uppercase
	font-size 2em

.courses-price-container
	col-lg-4()
	col-md-4()
	col-sm-6()
	col-xs-12()
	text-align center
	margin-bottom 10px

.courses-price-image
	img
		max-width 150px
		
.courses-offers
	justify-content space-around
	margin-top 2em

.english-levels
	color maincolor
	cursor pointer

.courses-promise
	text-align center


.modal-wrapper
	text-align left
	width 100%
	height 100%
	position fixed
	top 0
	left 0
	background rgba(41, 171, 164, 0.8)
	visibility hidden
	opacity 0
	transition all 0.25s ease-in-out
	&.open
		opacity 1
		visibility visible
		.modal
			margin-top -200px
			opacity 1

.modal
	width 600px
	height 400px
	display block
	margin 50% 0 0 -300px
	position relative
	top 50%
	left 50%
	background secondcolor
	opacity 0
	transition all 0.5s ease-in-out

.head
	width 90%
	height 32px
	padding 12px 30px
	overflow hidden
	background maincolor
	text-align center
	&-title
		color secondcolor
		margin-top 12px
		margin-bottom 0
		float left

.btn-close
	font-size 28px
	display block
	float right
	color secondcolor

.content
	padding 5%

.preschool-price-container
	text-align center
	col-lg-4()
	col-md-6()
	col-sm-12()
	col-xs-12()
	
.preschool-content,
.abroad-content
	justify-content center
	
.preschool-price,
.courses-price,
.abroad-price
	span
		color maincolor

.preschool
	background rgba(204, 204, 204, 0.17)
	h3
		margin-bottom 2em

.abroad
	img
		max-width 200px

.abroad-explanation
	text-align center
	padding 0 10em

.abroad-content
	margin-top 3em

.abroad-price-container
	text-align center
	col-lg-3()
	col-md-3()
	col-sm-6()
	col-xs-12()

.abroad-price-container,
.preschool-price-container,
.courses-price-container
	margin-bottom 2em

.summer-camp
	padding 2em 5em
	ul
		line-height 1.5

.footer
	justify-content space-between
	padding 1em 2em 0 3.5em
	background rgba(204, 204, 204, 0.17)
	a
		transition color .2s linear
		font-size 1.5em
		color maincolor
		&:hover
			color #56D9CD
.social-btns a
	margin 0 10px


.arrow-up
	display none
	position fixed
	bottom .8em
	left 1em
	opacity .5
